<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
</head>
<body>
    <h1>トップページ</h1>
    <p>閲覧したいサイトを選択してください．</p>
    
    <ul>
        <li>
            <a href="/gundam">
                <h3>モビルスーツ一覧</h3>
            </a>
        </li>
        <li>
            <a href="/firearm">
                <h3>銃一覧</h3>
            </a>
        </li>
        <li>
            <a href="/cars">
                <h3>自動車一覧</h3>
            </a>
        </li>
    </ul>
</body>
</html>